@import "../vars";

footer {
    width: 100%;
    background: #3f3b3d;
    padding: 96px 80px 116px 80px;
    .box__footer {
        .box__footer_title {
            max-width: 320px;
            padding-bottom: 32px;
            color: #fff;
            font-family: $font;
            font-size: 29px;
            font-weight: 400;
            text-transform: uppercase;
        }
        .box__footer_img {
            padding-bottom: 67px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: nowrap;
            gap: 32px;
            flex: 0 1 25%;
            img {
                max-width: 20%;
                height: auto;
            }
        }
        .box__footer_content {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            gap: 10%;
            .box__footer_column {
                color: #fff;
                font-family: $font;
                .box__footer_list {
                    max-width: 197px;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    font-size: 16px;
                    a {
                        padding-bottom: 3px;
                    }
                    :first-child {
                        padding-bottom: 13px;
                    }
                }
            }
            :first-child {
                margin-right: auto;
            }
        }
    }
}

.column-1 {
    max-width: 438px;
    font-size: 24px;
    font-weight: 400;
}
